/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bk-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --content-text-color: #F1B2CE;
  --main-gap: 20px;
  --font-family_text: "IBM Plex Mono";
  --bk-color: #000028;
} 

@media (prefers-color-scheme: dark) {
  
}
